.back-video {
    
    position: absolute;
    width: 100%;
    height: 55.8vw;
    z-index: -1;
}


.block-registration {
    position: absolute;
    z-index: 0;
    background-color: white;
    width: 100%;
    height: 55.8vw;
    margin-top: 138vw;
    color: rgb(255, 255, 255);
    box-shadow: 0 0 10px black;
    
}
.grid-container {
    margin-left: 40vw;
    margin-right: 40vw;
    margin-top: 4vw;
    text-align: center;
    font-size: 1vw;
    font-weight: 600;
    font-family: Nunito;
    text-shadow: 0 0 10px black;
}
.text-input {
    font-weight: 600;
    font-family: Nunito;
    height: 2vw;
    border: 0;
    color: black;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px rgb(0, 0, 0);
}
.login-form {
    font-size: 2vw;
    margin-top: 17vw;
    text-align: center;
    text-shadow: 0 0 5px black;
    font-weight: 600;
    font-family: Nunito;
}
.button-login {
    border: 0;
    padding: 0;
    width: 7vw;
    height: 2vw;
    border-radius: 10% 40% 10% 40%;
    margin-left: 6vw;
    margin-top: 1vw;
    box-shadow: 0 0 10px rgb(0, 0, 0);
    font-weight: 600;
    font-family: Nunito;
    transition: .05s ease-in;
}


@media only screen and (max-width: 768px) {
    .back-video {
        width: 0%;
    }
    
    
    .block-registration {
        position: absolute;
        z-index: 0;
        background-color: white;
        width: 100%;
        height: 154vw;
        margin-top: 230vw;
        color: rgb(255, 255, 255);
        box-shadow: 0 0 10px black;
        position: absolute;
        z-index: 1;

        background-image: url('/src/assets/tesla_chert.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        
    }
    .grid-container {
        margin-left: 10vw;
        margin-right: 10vw;
        text-align: center;
        font-size: 5vw;
        font-weight: 400;
        font-family: Nunito;
        text-shadow: 0 0 10px black;
        margin-top: 5vw;
    }
    .text-input {
        font-weight: 600;
        font-family: Nunito;
        height: 10vw;
        margin: 1vw;
        border: 0;
        color: black;
        background-color: rgb(255, 255, 255);
        box-shadow: 0 0 10px rgb(0, 0, 0);
    }
    .login-form {
        font-size: 12vw;
        margin-top: 17vw;
        text-align: center;
        text-shadow: 0 0 5px black;
        font-weight: 600;
        font-family: Nunito;
    }
    .button-login {
        border: 0;
        padding: 0;

        width: 50vw;
        height: 15vw;
        border-radius: 10% 40% 10% 40%;
        margin-left: 15vw;
        margin-top: 3vw;
        box-shadow: 0 0 10px rgb(0, 0, 0);
        font-weight: 600;
        font-family: Nunito;
        font-size: 5vw;
        transition: .05s ease-in;
        z-index: 1;
        color: black;
        box-shadow: 0 0 5px rgb(90, 90, 90);
        background-color: rgb(131, 131, 131);
    }
    
}