.swipe-container {
    max-height: 300px;
    display: flex;
    overflow-x: auto;
    margin-top: 10vw;
    -webkit-overflow-scrolling: touch; 
  }
  
  
  .item {
    min-width: 110px;
    height: 110px;
    margin-right: 25px;
    background-color: #ccc;
    text-align: center;
    line-height: 150px;
    font-size: 20px;
  }
