* {
    margin: 0;
    padding: 0;
    overflow:hidden;
}


@media only screen and (max-width: 768px) {
    
    body, html {
        overflow-x:hidden;
        overflow-y:hidden;
      }

    * {
        width:  768px;
        margin: 0;
        padding: 0;
        
    }
    }