.block {
    position: absolute;
    width: 100vw;
    height: 100vw;
    margin-top: 79.5vw;
    z-index: -2;
    color: black;
    background-image: url(src/assets/Homepage-Model-X-Desktop-LHD.avif);   
    background-position:top;
    background-repeat: no-repeat;
    background-size:contain;
    transition:  .2s ease;
    box-shadow: 0 0 10px black;
}
.block.active {
    background-image: url(src/assets/Homepage-Model-X-Desktop-LHD.avif);
    background-position: right 100vw;    
}
.block-buttons {
    display: grid;
    grid-template-columns: 1 1fr;
    width: 100vw;
    margin-top: 0vw;
    margin-left: 0vw;
    height: 10vw;
    color: black;


}
.functions {
    width: 15vw;
    height: 3vw;
    font-size: 1vw;
    font-weight: 600;
    font-family: Nunito;
    margin-top: 3vw;
    margin: 2vw 6vw;
    transition: .2s ease;
    color: rgb(255, 255, 255);
    z-index: 2;
    padding: 0%;
    border: 0;
    background-color: rgb(20, 20, 20);
    box-shadow: 0 0 4px blanchedalmond;
}
.relax {
    width: 15vw;
    height: 3vw;
    font-size: 1vw;
    font-weight: 600;
    font-family: Nunito;
    margin-top: 3vw;
    margin: 2vw 6vw;
    transition: .2s ease;
    color: rgb(255, 255, 255);
    z-index: 3;
    padding: 0%;
    border: 0;
    background-color: rgb(20, 20, 20);
    box-shadow: 0 0 4px blanchedalmond;
}
.speed {
    width: 15vw;
    height: 3vw;
    font-size: 1vw;
    font-weight: 600;
    font-family: Nunito;
    margin-top: 3vw;
    margin: 2vw 6vw;
    transition: .2s ease;
    color: rgb(255, 255, 255);
    z-index: 3;
    padding: 0%;
    border: 0;

    background-color: rgb(20, 20, 20);
    box-shadow: 0 0 4px blanchedalmond;
}
.functions:hover {
    font-size: 1.1vw;
    margin-left: 7vw;
    border-radius: 0% 30% 30% 0%;
} 
.more-info-functions {
    position: absolute;
    opacity: 1;
    width: 100vw;
    color: transparent;
    font-size: 0;
    margin-left: 120vw;
    height: 50vw;
    top:0vw;
    background-image: url('src/assets/2021-tesla-model-x_100777924_h.jpg');
    background-position: center;
    background-repeat: no-repeat;
    transition: .2s ease-in;

}

.more-info-functions.active {
    position: absolute;
    opacity: 1;
    width:100vw;
    height: 50vw;

    transition: .3s ease-in;
    top:0vw;
    margin: 0 0vw;
    background-image: url('src/assets/2021-tesla-model-x_100777924_h.jpg');
    background-position: center;
    background-repeat: no-repeat;
}
.text-more {
    opacity: 0;
    position: absolute;
    color: white;
    font-size: 3vw;
    margin: 37vw 3vw;
    transition: .3s ease;
    z-index: 2;
    font-family: Nunito;
    font-weight: 600;
}
.text-more.active {
    opacity: 1;
    position: absolute;
    color: white;
    font-size: 3vw;
    margin: 36vw 3vw;
    transition: .2s ease;
    transition-delay: .2s;
    text-shadow: 0 0 10px black;
    z-index: 2;
    font-weight: 600;
    font-family: Nunito;
}
.text-more.not-active {
    opacity: 0;
    position: absolute;
    color: white;
    font-size: 3vw;
    margin: 0vw 13vw;
    transition: .3s ease;
    z-index: 2;
    font-family: Nunito;
    font-weight: 600;
}
.grid-container {
    display: grid;
    grid-template-columns:3 1fr;
}
.text-functions-autopilot {
    width:15vw;
    position: absolute;
    font-size: 2vw;
    font-family: Nunito;
    font-weight: 600;
    margin: 40vw 10vw ;
    z-index: 2;
    text-shadow: 0 0 5px black;
    transition: .1s ease;
}

.text-functions-autopilot.active {
    position: absolute;
    color: white;
    font-size: 2vw;
    margin: 20vw 25vw ;
    font-family: Nunito;
    font-weight: 600;
    z-index: 2;
    text-shadow: 0 0 5px black;
    transition: .1s ease;
}
.text-functions-panel {
    width:15vw;
    position: absolute;
    font-size: 2vw;
    font-family: Nunito;
    font-weight: 600;
    margin: 20vw 15vw ;
    z-index: 2;
    text-shadow: 0 0 5px black;
    transition: .1s ease;
}

.text-functions-panel.active {
    position: absolute;
    color: white;
    font-size: 2vw;
    margin: 15vw 25vw ;
    font-family: Nunito;
    font-weight: 600;
    z-index: 2;
    text-shadow: 0 0 5px black;
    transition: .1s ease;
}
.text-functions-device {
    width:15vw;
    position: absolute;
    font-size: 2vw;
    font-family: Nunito;
    font-weight: 600;
    margin: 15vw 20vw ;
    z-index: 2;
    text-shadow: 0 0 5px black;
    transition: .1s ease;

}

.text-functions-device.active {
    position: absolute;
    color: white;
    font-size: 2vw;
    margin: 10vw 25vw;
    font-family: Nunito;
    font-weight: 600;
    z-index: 2;
    text-shadow: 0 0 5px black;
    transition: .1s ease;
    

}
.text-functions-device.active:hover {
    font-size: 2.1vw;
}.text-functions-autopilot.active:hover {
    font-size: 2.1vw;
}.text-functions-panel.active:hover {
    font-size: 2.1vw;
}
.grid-container:nth-child(1) { transition-delay: .1s; }
.grid-container:nth-child(2) { transition-delay: .2s; }
.grid-container:nth-child(3) { transition-delay: .3s; }

.image-autopilot {
    opacity: 0;
    position: absolute;
    margin-left: 100vw;
    margin-top: 10vw;
    width: 30vw;
    height: 20vw;
    background-image: url('/src/assets/6324de8f42f7440018fc96cc.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transition: .2s ease;
}
.image-autopilot.active {
    opacity: 1;
    position: absolute;
    margin-left: 60vw;
    margin-top: 10vw;
    width: 40vw;
    height: 20vw;
    background-image: url('/src/assets/6324de8f42f7440018fc96cc.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transition: .2s ease;
}




.more-info-relax{
    position: absolute;
    opacity: 1;
    width: 100vw;
    color: transparent;
    font-size: 0;
    margin: 0 -100vw;
    height: 50vw;
    top:0vw;
    background-image: url('src/assets/17ecd307-e88e-436f-8edf-0e3d30caf30d.avif');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: .2s ease-in;
}
.more-info-relax.active {
    position: absolute;
    opacity: 1;
    width:100vw;
    height: 50vw;
    transition: .2s ease-in;
    top:0vw;
    margin: 0 0vw;
    background-image: url('src/assets/17ecd307-e88e-436f-8edf-0e3d30caf30d.avif');
    background-position: center;
    background-repeat: no-repeat;
}
.text-more-relax {
    color: transparent
}
.block-enter-mouse {
    width: 100%;
    height: 100vw;
}
.Model-X-text{
    justify-content: center;
    display: flex;
    margin-top: 10vw;
    align-items: center;
    font-size: 2.5vw;
    font-family: Nunito;
    font-weight: 600;
}
.Model-X-text-back {
    justify-content: center;
    display: flex;
    margin-top: -0.5vw;
    align-items: center;
    font-size: 1.4vw;
    font-family: Nunito;
    font-weight: 00;
}
.Model-X-text-back-more {
    justify-content: center;
    display: flex;
    margin-top: 0vw;
    align-items: center;
    font-size: .8vw;
    font-family: Nunito;
    font-weight: 500;
}